<!-- O controller desta página está utilizando o vm = this, por isso é necessário utilizar o alias do controller para acessar as variaveis -->
<h2>{{ 'MESSAGE' | translate }}</h2>
<md-content>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat = "post in paginab.posts">
        <div class="md-list-item-text">
          <h3>Título: {{post.title}}</h3>
          <p>{{post.body}}</p>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
